{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="main-title">
    <span>History</span>
</div>
<a href="/">Home</a>
<div class="main-content">
    <form action="" method="POST">
        <select name="banner" id="banner" required>
            {% if banner == 'standard' %}
            <option value="standard">Standard</option>
            <option value="venti">Venti</option>
            {% else %}
            <option value="venti">Venti</option>
            <option value="standard">Standard</option>
            {% endif %}
        </select>
        <input type="submit" value="CHANGE">
    </form>
    <div class="history-container">
        <table>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Rarity</th>
            </tr>
            {% for number, item in wish_history %}
                <tr>
                    <td>{{ number }}</td>
                    <td>
                        {% if item.rarity == 5 %}
                            <span class="five-star">{{ item }}</span>
                        {% elif item.rarity == 4 %}
                            <span class="four-star">{{ item }}</span>
                        {% else %}
                            <span>{{ item }}</span>
                        {% endif %}
                    </td>
                    <td>{{ item.rarity}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}