{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="main-title">
    <span>Wish Simulator</span>
</div>
<a href="/history">History</a>
<div class="main-content">
    <form action="" method="POST">
        <div class="form-group">
            <label for="banner">Banner</label>
            <select name="banner" id="banner" required>
                {% if banner == 'standard' %}
                <option value="standard">Standard</option>
                <option value="venti">Venti</option>
                {% else %}
                <option value="venti">Venti</option>
                <option value="standard">Standard</option>
                {% endif %}
            </select><br>
        </div>
        <div class="form-group">
            <span>No. of Wishes</span><br>
            <input type="radio" name="quantity" value="10" id="ten" checked>
            <label for="ten">10x</label>
            <input type="radio" name="quantity" value="1" id="single">
            <label for="single">1x</label><br>
        </div>
        <input type="submit" value="WISH">
    </form>
    <br>
    <div>
        {% for item in wish_result %}
            {% if item.rarity == 5 %}        
                <span class="five-star">{{ item }}</span><br>
            {% elif item.rarity == 4 %}
                <span class="four-star">{{ item }}</span><br>
            {% else %} 
                <span>{{ item }}</span><br>
            {% endif %}   
        {% endfor %}
    </div>
</div>
{% endblock %}
